* {
	margin: 0;
	padding: 0;
}

body {
	margin-bottom: 130px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #fff;
}

a { outline: none; padding: 1px; }
a:focus { -moz-outline-style: none; }
a:link, a:visited { text-decoration: none; color: #000;}
a:hover, a:visited:hover { color: #000; background-color: yellow; }
a.selected { background-color: #0cf; color: #fff; }

.right { text-align: right; }
.left { text-align: left; }
.center { text-align: center; }

h2 { font-weight: normal; font-size: 18px; color: #666; margin-bottom: 1.0em; }
h2 span { color: #999; }
h2 em { font-weight: normal; color: #666; }

h2 span a:link, h2 span a:visited { color: #999;}
h2 span a:hover, h2 span a:visited:hover { text-decoration: underline; color: #ccc; }

h4, h5 { text-align: center; }
h4 { font-size: 11px; color: #000; padding-top: 10px; }
h5 { font-weight: normal; font-size: 9px; color: #666; }

img { border: none; display: block; }

li { list-style: none; }

#header {
  height: 100px;
}

#menu ul {
  position: fixed;
}

#menu li {
  font-size: 11px;
  padding-bottom: 9px;
}

#menu li a {
  padding: 2px 3px 2px 3px;
}

#albums ul,
#albums li { float: left; }

#albums li {
	margin: 0 33px 35px 0px;
	text-align: center;
}

div.image_wrapper {
	position: relative;
	line-height: 15px;
}

div.image_wrapper > a > img {
  margin-bottom: 10px;
}

div.image_wrapper > a {
  color: #000;
	font-size: 11px;
	font-weight: bold;
}

/* overrides */
.container_12 { margin-left: 23px !important; }
#fancybox-wrap { margin-top: 30px; }
.fancybox-title-inside { text-align: left; }